/*
	DIOGENES JUNIOR
	CONTATO@DIOGENESJUNIOR.COM.BR
	
*/

/*---------------------------------
	RESETS
-----------------------------------*/

html,body{
    height: 100%;
}
body{
	overflow-x: hidden;
   background:#F2F2F2;
   font-family: 'Poppins', sans-serif;
}

@media(max-width: 540px){
  html,body{
    max-width: 100% !important;
    
  }
}

/*---------------------------------
	IMPORTS E CONSULTAS E MOBILE
	
XS = < 544px
SM = > 544px
MD = > 768px
LG = > 992px
XL = > 1200px

CSS GRID
-----------------------------------*/


.wow {
   visibility: hidden;
}
::selection { background: #F3123C; color: #fff; } ::-moz-selection { background: #F3123C; color: #fff; }


.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

img{
  max-width: 100%;
  height: auto;
}

.banner-ads{
  text-align: center;
}

.banner-ads img{
  width: 100%;
  height: auto;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited{
   display: block;
   width:100%;
   border-radius: 6px;
   background: linear-gradient(#f3123c 0%, #f3123c 100%);
   box-shadow: 0px 8px 8px rgba(67, 66, 93, 0.25);
   text-align: center;
   border:none !important;
   font-weight: bold;
   font-size: 13px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 12px;
   padding-bottom: 12px;
}

.btn-primary i{
  float: left;
  margin-top: 1.5px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:visited{
   display: block;
   width:100%;
   border-radius: 6px;
   background: none;
   box-shadow: 0px 8px 8px rgba(67, 66, 93, 0.25);
   text-align: center;
   border:1px solid #f3123c !important;
   font-weight: bold;
   font-size: 13px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 12px;
   padding-bottom: 12px;
   color: #f3123c !important;
}

.btn-default i{
  float: left;
  margin-top: 1.5px;
}

.paginacao{
  font-size: 13px;
  padding-bottom: 20px;
}


.paginacao .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #F3123C;
    border-color: #F3123C;
}

.paginacao .page-item.disabled .page-link {
    background: transparent;
    color: #000;
}

.paginacao .page-link {
    background: transparent;
    color: #000;
}

/*---------------------------------
	HEADER
-----------------------------------*/
header{
  position: relative;
  display: block;
  background: #fff;
  padding-bottom: 16px;
  box-shadow: 6px 12px 24px rgba(68, 68, 68, 0.08);
  margin-bottom: 28px;
  -webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;
}

header.fixo{
  position: fixed;
  display: block;
  top: -1000%;
  left: 0;
  -webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;
  width: 100%;
  z-index: 9999
}

@media(max-width: 540px){
  header.fixo{
    display: none !important;
  }
}

header .header-top{
  position: relative;
  display: block;
  top: 0;
  margin-bottom: 14px;
  background: #F3123C;
  text-align: right;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 6px;
}

header .header-top a,
header .header-top a:hover{
  color: #fff;
  padding-left: 22px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

@media(max-width: 540px){
      header .header-top a, header .header-top a:hover {
        color: #fff;
        padding-left: 22px;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        display: block;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 4px;
    }
}


header .header-top a i{
  font-size: 16px;
  padding-right: 5px;
}

header .menu-principal{
  text-align: right;
  padding-top: 14px;
}

header .menu-principal nav ul{
  padding-left: 0px;
  margin-left: 0px;
  display: inline;
}

header .menu-principal nav ul li{
  display: inline;
}

@media(max-width: 540px){
   header .menu-principal nav ul li{
    display: none;
  }
}

header .menu-principal nav ul li a,
header .menu-principal nav ul li a:hover{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #22232B;
  padding-left: 16px;
  font-size: 14px;
  -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

header .menu-principal nav ul li:last-child a,
header .menu-principal nav ul li:last-child a:hover{
    border: 1px solid #F3123C;
    padding: 11px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    margin-left: 24px;
    font-weight: bold;
    font-size: 13px;
    color: #F3123C;
}

@media(max-width: 540px){
    header .menu-principal nav ul li:last-child{
      display: block;
    }
    header .menu-principal nav ul li:last-child a, header .menu-principal nav ul li:last-child a:hover {
      border: 1px solid #F3123C;
      padding: 11px;
      padding-left: 9px;
      padding-right: 9px;
      border-radius: 5px;
      margin-left: 0;
      font-weight: bold;
      font-size: 13px;
      color: #F3123C;
      display: block;
      text-align: center;
  }
  header .input-group-prepend {
      margin-right: -1px;
      margin-left: -15px;
  }


}

header .menu-principal nav ul li:last-child a img{
  width: 32px;
  height: auto;
  margin-top: -4px;
}

header .segunda-linha{
  padding-top: 12px;
}

header .segunda-linha .form-control{
  border:none;
  border-bottom: 1px solid #131313;
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding-left: 0px;
}


header .segunda-linha .input-group-text{
 background: none;
 border: none !important;
 opacity: 0.2;
 font-size: 24px;
}


/*---------------------------------
  SIDEBAR
-----------------------------------*/
section.work .sidebar{

}

section.work .sidebar .caixa-sidebar{
  background: #fff;
  box-shadow: 6px 12px 24px rgba(68, 68, 68, 0.08);
  padding: 14px;
  border-radius: 6px;
  margin-bottom: 42px;
}

section.work .sidebar .caixa-sidebar .form-group a,
section.work .sidebar .caixa-sidebar .form-group a:hover{
   color: #444444;
   text-decoration: underline;
   font-size: 13px;
}

section.work .sidebar .caixa-sidebar label{
  font-size: 13px;
  opacity: 1;
  font-weight: bold;
}

section.work .sidebar .caixa-sidebar .form-control{
    border:none;
    border-bottom: 1px solid #131313;
    border-radius: 0px !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-left: 0px;
}

section.work .galeria-do-carro{
  margin-top: -23px;
}

section.work .item .galeria-carro{
   width: 100%;
   height: 380px;
}

@media(max-width: 540px){
   section.work .item .galeria-carro{
     width: 100%;
     height: 180px;
  }
}

section.work .owl-de-carros{
  position: relative;
  display: block;
}


section.work .subtitulo{
  padding-top: 60px;
}

section.work .subtitulo h2{
  font-size: 18px;
  margin-bottom: -2px;
}

section.work .container-conteudo-carro{
  position: relative;
  display: block;
  z-index: 200;
  margin-top: -51px;
}

@media(max-width: 540px){
   section.work .container-conteudo-carro{
      position: relative;
      display: block;
      z-index: 200;
      margin-top: -15px;
    }

}

section.work .caixa-conteudo{
  background: #fff;
  box-shadow: 6px 12px 24px rgba(68, 68, 68, 0.08);
  padding: 24px;
  border-radius: 6px;
  margin-bottom: 42px;
}

section.work .caixa-conteudo h1{
  font-weight: bold;
  color: #45454D;
  margin-bottom: 22px;
}

section.work .caixa-conteudo h1 span{
  color: #F3123C;
}

section.work .caixa-conteudo h1 small{
  display: block;
  color: #45454D; 
  font-size: 16px;
}

section.work .caixa-conteudo .metas-interna h3{
  font-size: 16px;
}

section.work .caixa-conteudo .metas-interna h3 small{
  font-size: 14px;
  opacity: 0.40;
  display: block;
}

section.work .caixa-conteudo .metas-interna{
  padding-bottom: 14px;
}

section.work .caixa-conteudo .conteudo-carro-interna{
  padding-top: 2px;
}

section.work .caixa-conteudo .conteudo-carro-interna h4{
  font-weight: bold;
  font-size: 18px;
}

section.work .caixa-conteudo .conteudo-carro-interna p{
   opacity: 0.65;
   font-size: 14px;
   line-height: 22px;
}

section.work .caixa-conteudo-invertida{
  background: #000000;
  color: #fff;
}

section.work .caixa-conteudo-invertida h2{
  color: #fff;
  font-weight: bold;
  margin-top: 18px;
}

section.work .caixa-conteudo-invertida h2 small{
  font-weight: 500;
  color: #fff;
  display: block;
  font-size: 13px;
}

section.work .caixa-conteudo-invertida p{
  color: #fff !important;
  opacity: 1 !important;
  padding-top: 15px;
}

section.work .caixa-sidebar-interna{

}


section.work .caixa-sidebar-interna h2{
  font-weight: bold !important;
  text-align: center;
}


section.work .caixa-sidebar-interna .btn-default{
  width: 100%;
  display: block;
}
/*---------------------------------
  LOOP CARROS
-----------------------------------*/
.loop-de-carros{
  padding-top: 30px;
}

.loop-de-carros .carro{
  margin-bottom: 30px;
  background: #fff;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;

  box-shadow: 6px 12px 24px rgba(68, 68, 68, 0.08);

}


.loop-de-carros .carro .capa-carro{
  position: relative;
  display: block;
  left: 0;
  width: 100%;
  height: 180px;
  margin-bottom: 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.loop-de-carros .carro .capa-carro a,
.loop-de-carros .carro .capa-carro a:hover{
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
} 


.loop-de-carros .carro .btn-success{
  width: 100%;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
  font-size: 13px;
  background: #8FB946 !important;
}

.loop-de-carros .carro h3{
    font-family: 'Poppins', sans-serif;
    color: #45454D !important;
    font-weight: bold;
    font-size: 15px;
    border-top: 1px solid #EBEBEB;
    padding-top: 12px;
    padding-bottom: 4px;
}

.loop-de-carros .carro h3 small{
  display: block;
  opacity: 0.6;
  font-weight: 400;
}

.loop-de-carros .carro h3 i{
  float: left;
  margin-right: 10px;
  color: #8FB946;
}

.loop-de-carros .carro .metas{
  
   font-size: 13px;
   padding-top: 4px;
   padding-bottom: 10px;
 
}

.loop-de-carros .carro .metas i{
   color: #8FB946; 
}

.loop-de-carros .carro .metas .col-6{
   color: #45454D;
   font-family: 'Poppins', sans-serif;
}

.owl-dots{
  display: none !important;
}


.controle-banner-na-homepage{
  position: absolute;
  top: auto;
  bottom: 45px;
  left: 0px;
  padding-top: 0px;
  width: 100%;
  height: auto;
}

@media(max-width: 540px){
  .controle-banner-na-homepage{
    top: 321px;
    display: none;
  }
}

.controle-banner-na-homepage .owl-theme img{
  width: 62px !important;
  height: auto !important;
}

.controle-banner-na-homepage .owl-theme .custom-nav-banner {
  position: absolute;
  top: 36.5%;
  left: 0;
  right: 0;
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.controle-banner-na-homepage .owl-theme .custom-nav-banner{
  outline: none !important;
}

.controle-banner-na-homepage .owl-theme .custom-nav-banner .owl-prev,
.controle-banner-na-homepage .owl-theme .custom-nav-banner .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none !important;
  border: none !important;
  z-index: 1;
  outline: none !important;
}

.controle-banner-na-homepage .owl-theme .custom-nav-banner .owl-prev {
  left: 44%;
}

.controle-banner-na-homepage .owl-theme .custom-nav-banner .owl-next {
  right: 44%;
}

@media(max-width: 540px){

    .controle-banner-na-homepage .owl-theme .custom-nav-banner .owl-prev {
      left: 2px;
    }
    
    .controle-banner-na-homepage .owl-theme .custom-nav-banner .owl-next {
      right: 2px;
    }

}



/*---------------------------------
  FOOTER
-----------------------------------*/
footer{
  position: relative;
  display: block;
  left: 0;
  width:100%;
  height: auto;
  min-height: 120px;
  margin-top: 75px;
  margin-bottom: 25px;
}

footer .footer-top{
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  background: #fff;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  margin-bottom: 32px;
}

footer .footer-top .menu-rodape{
  text-align: center;
  padding-top: 7px;
}
footer .footer-top .menu-rodape nav ul{
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: inline;
  padding-left: 0px;
  text-align: center;
}

footer .footer-top .menu-rodape nav ul li{
  list-style: none;
  display: inline;
  margin-left: 7px;
  margin-right: 7px;
}

footer .footer-top .menu-rodape nav ul li a,
footer .footer-top .menu-rodape nav ul li a:hover{
  font-size: 13px;
  color: #22232B;
  text-decoration: none;
}

footer .footer-top .menu-rodape nav ul li:last-child a,
footer .footer-top .menu-rodape nav ul li:last-child a:hover{
  text-decoration: underline !important;
  color: #F3123C !important;
  font-weight: 600;
}

footer .footer-top .social{
  padding-top: 10px;
}

footer .footer-top .social a,
footer .footer-top .social a:hover{
  text-decoration: none;
  padding-left: 24px;
}

footer .footer-top .social a img{
  width: auto;
  height: auto;
  max-height: 20px;
}


footer .container.footer-container{

}

footer .container.footer-container .colunas{

}


footer .container.footer-container .colunas h3{
  font-weight: bold;
  text-transform: uppercase;
  color: #22232B;
  opacity: 0.43;
  margin-bottom: 12px;
  font-size: 15px;
}

footer .container.footer-container .colunas nav ul{
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}


footer .container.footer-container .colunas nav ul li{
  list-style: none;
}

footer .container.footer-container .colunas nav ul li a,
footer .container.footer-container .colunas nav ul li a:hover{
   color: #22232B !important;
   text-decoration: none !important;
   opacity: 0.35;
   font-size: 13.5px;
}

footer .container.footer-container .colunas{
  padding-right: 0px;
}

footer .container.footer-container .colunas p{
   color: #22232B !important;
   text-decoration: none !important;
   opacity: 0.35;
   font-size: 12.5px;
}

footer .container.footer-container .grupo-2{
    padding-top: 20px;
    text-align: right;
}

footer .container.footer-container .grupo-2 h2{
   color: #22232B;
   font-size: 20px;
}

footer .container.footer-container .grupo-2 h2 img{
  width: 40px;
  height: auto;
  margin-right: 5px;
  margin-top: -7px;
}

footer .container.footer-container .copy{
  padding-top: 44px;
  text-align: center;
}

footer .container.footer-container .copy p{
  font-size: 13px;
  color: #000;
}